/org.eclipse.jdt.core.prefs
/org.eclipse.wst.common.component
/org.eclipse.wst.common.project.facet.core.xml
/org.eclipse.jpt.core.prefs
/org.eclipse.jpt.entitygen.new-oracle(1).ssm11
/org.eclipse.jpt.entitygen.sermil-desenvolvimento-database.ssm11
/org.eclipse.ltk.core.refactoring.prefs
/org.eclipse.wst.common.project.facet.core.prefs.xml
